node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist
dist-ssr
*.local

.env
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage

.git
.gitignore
.gitattributes

.dockerignore
Dockerfile
docker-compose*.yml

.github

README.md
*.md

.cache
.eslintcache
.prettierrc
